<section class="section" *ngIf="album">
	<div class="container album-info">
		<div class="columns">
			<div class="column is-one-quarter" *ngIf="album.artwork">
				<figure class="image">
				  <img src="{{album.artwork}}">
				</figure>
			</div>
			<div class="column is-two-thirds">
				<h3 class="title is-3">{{getAlbumName(album)}}</h3>
				<h4 class="subtitle">{{album.artist}}</h4>
				<div *ngFor="let disc of album.discs">
					<table class="table is-fullwidth is-hoverable">
						<thead>
						<!--<thead *ngIf="album.discs.length > 1">-->
							<th><button class="button is-small is-primary"
							(click)="scrobbleDisc(disc)">
					Scrobble</button></th>
							<th></th>
							<th>Disc {{disc.number}}</th>
							<th></th>
						</thead>
						<tbody>
							<tr *ngFor="let track of disc.tracks"
							class="track">
								<td class="scrobble-cell">
								  <button class="button is-small is-primary"
								  (click)="scrobbleSingle(track)">Scrobble</button>
								</td>
								<td class="track-number-cell">{{track.number}}.</td>
								<td><span class="track-name">{{getTrackName(track)}}</span></td>
								<td class="artist-cell"><span class="artist-name">{{getArtistName(track)}}</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
