div.album-info
{
	margin-bottom: 4em;
}

.table
{
	margin: 3em auto;
}

.table th,
.table td
{
	vertical-align: middle;
}

td.scrobble-cell
{
	width: 96px;
}

td.track-number-cell
{
	width: 48px;
}

td.artist-cell
{
	width: 33%;
}

.track span.artist-name
{
}

