<section class="section" *ngIf="album">
	<div class="container">
		<h3 class="title is-3">{{album.name}}</h3>
		<div class="container" *ngIf="album.artwork">
			<figure class="image is-128x128">
			  <img src="{{album.artwork}}">
			</figure>
		</div>
		<div class="container">
			<div class="container" *ngFor="let disc of album.discs">
				<h4 class="title is-5">Disc {{disc.number}}</h4>
				<ol class="tracklist">
					<li *ngFor="let track of disc.tracks">
						{{track.name}} - {{track.artist}}
					</li>
				</ol>
			</div>
		</div>
	</div>
	<scrobble-root></scrobble-root>
</section>
