<section class="section" *ngIf="album">
	<section class="section">
		<h2 class="title">{{album.name}}</h2>
		<figure *ngIf="album.artwork" class="image is-128x128">
		  <img src="{{album.artwork}}">
		</figure>
		<div class="container">
			<div class="container" *ngFor="let disc of album.discs">
				<ul>
					<li *ngFor="let track of disc.tracks">
						{{track.number}}. {{track.name}} - {{track.artist}}
					</li>
				</ul>
			</div>
		</div>
	</section>
	<scrobble-root></scrobble-root>
</section>
