<div class="box">
	<form #scrobbleForm="ngForm"
		(ngSubmit)="onScrobble()">
		<div class="field">
		  <label class="label">
		  	Language
			</label>
			<div class="select">
			  <select
			    name="language"
			    [ngModel]="language">
			    <option *ngFor="let language of languages" [value]="language.code">{{language.name}}</option>
			  </select>
			</div>
		</div>
		<div class="field">
		  <div class="control">
			  <button class="button is-link">Scrobble entire album</button>
			</div>
		</div>
	</form>
</div>
