<section class="section">
	<div class="box">
		<form #searchForm="ngForm"
		(ngSubmit)="onSearch()">
			<div class="field">
			  <label class="label">Link to Album</label>
			  <div class="control">
			    <input class="input" type="text" placeholder="Paste link here"
			    required
			    name="url"
			    [ngModel]="url"
			    (ngModelChange)="onChange($event)"
			    [value]="url">
			  </div>
			  <p class="help"></p>
			</div>
		  <div class="field">
			  <div class="control">
				  <button class="button is-link">Search</button>
				</div>
			</div>
		</form>
	</div>
</section>
<album-root [album]="album"></album-root>